branches:
  - main
plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - - "@google/semantic-release-replace-plugin"
    - replacements:
        - files:
            - "./build.gradle"
          from: "version = '.*'"
          to: "version = '${nextRelease.version}'"
        - files:
            - "README.md"
          from: "ktx:[0-9].[0-9].[0-9]"
          to: "ktx:${nextRelease.version}"
  - - "@semantic-release/exec"
    - publishCmd:
        - ./gradlew build publish --warn --stacktrace
  - - "@semantic-release/git"
    - assets:
        - "./build.gradle"
        - "*.md"
  - "@semantic-release/github"
options:
  debug: true
